{% extends 'monitoring_software/base.html' %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <div class="white-box">
        <main class="container">
            <div class="row justify-content-md-center">
                <div class="col-sm-9">
                    <img src="/static/images/Family-Tracker-App.png" width=800px height=500px alt="">
                </div>

                <div class="row justify-content-md-left">
                    <div class="col-sm-12">
                        <strong>Potential Users</strong>
                        <p>
                            <ul>
                                <li>Warehouses</li>
                                <li>Retail</li>
                                <li>Industrial</li>
                                <li>Offices</li>
                                <li>Events</li>
                            </ul>
                        </p>
                        <p><strong>How do they use it?</strong></p>
                        <p>They set up the tracking system and start adding users. Users are those they want to monitor for presence within the designated area. The system can be programmed to turn on and off at a schedule.</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
{% endblock content %}